body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	text-align: center;
	height: 200px;
	width: auto;
	
	background-color: #bbb;
	background-image: linear-gradient(#555 0%, white 100%)
}

.content {
	padding-left: 20px;
	padding-bottom: 10px;
}

h1 {
	margin: auto;
	padding-top: 75px;
	font-size: 40px;
}

nav {
	padding-top: 10px;	
}

nav a {
	padding-left: 40px;
}

a {
	color: black;
}

a:hover {
	text-decoration: underline;
}

footer {
	text-align: center;
	font-size: 10px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 10px;
	clear: both;
}

#exampleVids, #inPageNav {
	margin: auto;
	padding-left: 20px;
	padding-top: 10px;
	border-top: 1px solid #555;
}

table {
	text-align: center;
	padding: 20px auto;
	margin: 30px auto;
}

th, td {
	padding: 5px 7px 0px 7px;
}

img {
	margin-top: 20px;
	border-radius: 20px;
}

.fleft {
	float: left;
	margin-left: 10%;
}

.fright {
	float:right;
	margin-right: 10%;
}
